<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <b>Example App</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarItems">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/group/1" th:href="@{/group/Kelompok 1}">Kelompok 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/2" th:href="@{/group/Kelompok 2}">Kelompok 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/3" th:href="@{/group/Kelompok 3}">Kelompok 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/4" th:href="@{/group/Kelompok 4}">Kelompok 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
